.content {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  z-index: var(--z-sidebar);
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  /* ACTUALIZADO: Usa la variable de color para el borde */
  /* border-right: 1px solid var(--border-color); */
  padding: 0px 10px 10px 10px;
  transition: width 0.5s ease;
  margin: 0;
  /* position: ; */
}

/* .right-panel {
    width: calc(100% - var(--sidebar-width));
    
} */

.nav {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: var(--nav-height);
  z-index: var(--z-nav);
  background: var(--nav-bg);
  /* ACTUALIZADO: Usa la variable de color para la sombra y el borde inferior */
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 9px 15px var(--shadow-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: left 0.5s ease, width 0.5s ease;
}

.nav-collapsed {

  width: calc(100% - var(--sidebar-width-small));

  left: var(--sidebar-width-small);
  /*  transition: left 0.5s ease; */
  /* transition: width 0.5s ease; */
}

.main {
  /* width:  calc(100% - var(--sidebar-width));
    height: calc(100% - var(--nav-height));
    overflow-y: auto;
    padding: 5px 0 0 5px;
    margin-top: var(--nav-height); */
  overflow-y: auto;
  /*  overflow: hidden; */
  width: 100%;
  height: auto;
  /* background-color: rgb(83, 16, 96); */
  padding: 5px 0 0 5px;
}

.content-main {
  overflow-y: hidden;
  display: flex;
  justify-content: right;
  width: 100%;
  /* height: 100%;  */
  padding-left: var(--sidebar-width);
  margin-top: var(--nav-height);
  transition: padding-left 0.5s ease;
}

.content-main-collapsed {
  padding-left: var(--sidebar-width-small);
}

.theme-switcher {
  padding: 3px;
  width: fit-content;
  display: flex;
  border-radius: 9999px;
  border: 1px solid var(--switcher-border);
}

.theme-switcher_switch {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease, stroke 0.2s ease;
}

.theme-switcher_switch>.icon {
  stroke: var(--text-color);
  transition: stroke 0.2s ease;
}

.theme-switcher_switch:hover>.icon {
  stroke: var(--switcher-hover);
}

/* Estilo para el botón que está seleccionado como activo */
.theme-switcher_switch[data-active="true"] {
  background-color: var(--switcher-active-bg);
}

.theme-switcher_switch[data-active="true"]>.icon {
  stroke: var(--switcher-active-icon);
}

.content-logo {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
}

.logo-digimentor {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* From Uiverse.io by vinodjangid07 */
.button-search {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--bottom-secondary);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;

}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button-search:hover {
  background-color: var(--bottom-secondary-hover);
  transition-duration: .5s;
}

.button-search:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button-search:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

.content-search {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;

}

.content-navegation {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 300px;
}

.label-navegation {
  margin-left: 20px;
}


/* From Uiverse.io by 3bdel3ziz-T */
/* section {
  --col-orange: #d17842;
  --col-dark: #0c0f14;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0c0f14;
  border-radius: 30px;
} */
.navegation-route {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 8px 18px;
  cursor: pointer;
  transition: background-color 200ms;
  gap: 10px;
  position: relative;
}

/* Ocultar radio */
.navegation-route input[type="radio"] {
  display: none;
}

/* Ícono visible y animable */
.icon-navegation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-navegation svg {
  transition: 300ms;
  fill: #aeaeae;
  width: 20px;
}

/* Texto base */
.label-txt {
  font-size: 12px;
  color: #aeaeae;
  transition: all 200ms;
}

/* Línea debajo del ícono */
.underline {
  display: block;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  background-color: var(--bottom-primary);
  margin-top: 4px;
  transition: width 200ms ease;
}

/* Hover si no está seleccionado */
.navegation-route:hover:not(:has(input:checked)) .icon-navegation svg,
.navegation-route:hover:not(:has(input:checked)) .label-txt {
  color: var(--bottom-primary);
  fill: var(--bottom-primary);
  color: var(--bottom-primary);
  opacity: 0.6;
}

/* Seleccionado */
.navegation-route:has(input:checked) .icon-navegation svg {
  color: var(--bottom-primary);
  fill: var(--bottom-primary);
  transform: scale(1.2) translateY(-3px);
}

.navegation-route:has(input:checked) .label-txt {
  color: var(--bottom-primary);
  font-weight: bold;
}

.navegation-route:has(input:checked) .underline {
  width: 100%;
}

.sng-icon {
  height: 20px;
  width: 20px;
}



.sidebar.collapsed {
  width: var(--sidebar-width-small);
  transition: width 0.5s ease;
  padding: 0px 10px 10px 10px;
}



.sidebar.collapsed .label-navegation {
  display: none;
}


/* Oculta todos los textos de navegación */
.sidebar.collapsed .label-navegation {
  display: none !important;
}


.Btn {
  width: 45px;
  height: 45px;
  background: linear-gradient(var(--bottom-surface), var(--bottom-surface-hover));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
  transform: rotateZ(-90deg);
}

.arrow path {
  fill: white;
}


.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.content-arrow {
  width: 100%;
  display: flex;
  padding: 0 15px 0 0;
  justify-content: right;
}

.drawer-bg {
  display: none;
}

.nav-left {
  display: none;
}
.nav-right {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}
.profile-photo{
  border-radius: 40px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  /* background-color: blue; */
}
.profile-photo-name{
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--bottom-surface);

}
.profile-panel{
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-panel div{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* From Uiverse.io by dugepard */ 
/* From Uiverse.io by dugepard */ 





@media (max-width: 599px) {
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    display: block;
    z-index: var(--z-sidebar);
    /* transition: width 0.5 ease; */
  }
  /* .collapsed-mobile{
    display: block;
  } */
  .nav{
    width: 100%;
    left: 0;
    /* padding: 0; */
    padding: 0 5px 0 5px;
    z-index: 90;
  }
  .nav-left{
    display: flex;
    /* width: auto; */
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 0 0 5px;
  }
.nav-right {
  flex: 1;
}
.content-main{
  width: 100%;
  padding-left: 0;
}


  
}

.drawer-bg {
    display: block;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: var(--drawer-bg);
    z-index: var(--z-drawer);
  }
/* Tablets: 600px - 959px */
@media (min-width: 600px) and (max-width: 959px) {

  

  .nav {
    width: calc(100% - var(--sidebar-width-small));
    left: var(--sidebar-width-small);
    z-index: 10;
    /* background-color: blue; */
  }

  .content-main {
    padding-left: var(--sidebar-width-small);
  }
}
@media (min-width: 960px) {

  .drawer-bg{
    display: none;
  }

  
}