.container-courses{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-table{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table_toolbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
/* #3E3E3E #E5E5E5 */
.table_toolbar_start{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    height: 100%;
    padding: 0 0 0 20px;
}
.table_toolbar_end{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.table_content{
    width: 100%;
    height: 90%;
    overflow-y: hidden;

}
.table_content_caption{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}
.table_content_header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}
.table_content_body{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 13px;
    overflow: hidden;
}
.table_content_body-scroll{
    overflow-y: auto;
    height: 66%;
    margin-bottom: 0;
    
}
.table_content_footer{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    gap: 10px;
   
    
}
/* Celdas medidas */
.header_cell-checkbox ,.body_cell-checkbox{
    width: 40px;
}
.header_cell-id ,.body_cell-id{
    width: 50px;
}
.header_cell-miniature ,.body_cell-miniature{
    width: 200px;
}
.header_cell-title ,.body_cell-title{    
    width: 300px;
    
}
.header_cell-active, .body_cell-active{
    width: 100px;
}
.header_cell-creator, .body_cell-creator{
    width: 100px;
}
.header_cell-private, .body_cell-private{
    width: 100px;
}
.header_cell-code, .body_cell-code{
    width: 100px;
}
/* fin */
.cell-display{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-padding{
    padding: 0 10px;
    justify-content: left;
}
.cell-border{
    border-right: 1px solid var(--border-color);
}
.create-botton {
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5rem;
  padding: 10px;
  color: var(--background-color);
  background-color: var(--bottom-primary);
  font-weight: 600;
  border-radius: 50%;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.35s linear;
}

.create-botton:hover {
  background-color: var(--bottom-primary-hover);
}
.btn-action{
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5rem;
  padding: 10px;
  color: var(--text-color);
  background-color: #00000000;
  font-weight: 600;
  border-radius: 50%;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.35s linear;
  margin-right: 10px;
}
.btn-action:hover {
  background-color: var(--bottom-secondary-hover);
  transition: all 0.35s linear;
}
.body_cell-title{
    display: block;
    padding: 10px 0px;
}
.cell-actions{
    display: none;
}
.table_content_body:hover .cell-actions{
    display: flex;
    margin-top: 10px;
}
.table_content_body:hover{
    background-color: var(--background-hover);
}
.cell_label-title{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: end;
}
.cell_label-description{
    width: 100%;
    font-size: 10px;
}
.header_cell-title{
    justify-content: left;
}

.table_content_body:hover .cell_label-description{
    display: none;
}
.btn-edit{
    border: 1px solid var(--bottom-info);
    color: var(--bottom-info);
}
.btn-edit:hover{
    background-color: var(--bottom-info-hover);
    color: var(--background-color);
}
.btn-delete{
    border: 1px solid var(--bottom-danger);
    color: var(--bottom-danger);
}
.btn-delete:hover{
    background-color: var(--bottom-danger-hover);
    color: var(--background-color);
}
.btn-analytics{
    border: 1px solid var(--bottom-help);
    color: var(--bottom-help);
}
.btn-analytics:hover{
    background-color: var(--bottom-help-hover);
    color: var(--background-color);
}
.table_content_footer_left{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.table_content_footer_right{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    margin-left: 10px;
}
.table_content_footer_center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn-footer{
    
    border-style: none;
    background-color: #00000000;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.35s linear;

}
.btn-footer:hover{
    background-color: var(--bottom-secondary-hover);
}
.footer_select{
    width: 50px;
    height: 25px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 5px;
    color: var(--text-color);
    background-color: #00000000;
}
.footer_select:hover{
    background-color: var(--bottom-secondary-hover);
}

.select_option{
    color: var(--text-color);
    background-color: var(--background-color);
    
}
.cell_miniature{
    width: 150px;
    height: 80px;
    border-radius: 5px;
    object-fit: contain;
    background-color: #000000;
}
.overlay-mask{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlay-mask-bg);
    z-index: 200;
}
.modal-create{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--modal-bg);
    box-shadow: var(--shadow-color);
    padding: 10px;    
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
