<!-- toggle-witch.component.html -->
<!-- <div
  class="tw-root"
  [ngClass]="hostClasses()"
  [ngStyle]="groupVars()"
  (click)="toggle()"
>
  <label class="tw-label" *ngIf="tw.label && !tw.reverse">{{ tw.label }}</label>

  <div class="tw-control" [class.with-text]="tw.onLabel || tw.offLabel">
    <div class="tw-track">
      <span class="tw-text on" *ngIf="tw.onLabel">{{ tw.onLabel }}</span>
      <span class="tw-text off" *ngIf="tw.offLabel">{{ tw.offLabel }}</span>
      <span class="tw-thumb"></span>
    </div>
  </div>

  <label class="tw-label" *ngIf="tw.label && tw.reverse">{{ tw.label }}</label>
</div> -->


