/* components/toggle-witch/toggle-witch.component.css */
.ui-togg {
  --togg-track-w: 44px;
  --togg-track-h: 22px;
  --togg-thumb: 18px;
  --togg-pad: 2px;
  --togg-on: var(--sev-primary, #ffffff);
  --togg-on-hover: var(--sev-primary-hover, #000000);
  --togg-off: var(--border-color, #cbd5e1);

  display: inline-flex;
  align-items: center;
  gap: var(--togg-gap, 8px);
  font-size: var(--togg-font, .95rem);
  user-select: none;
  cursor: pointer;
  outline: none;
}

.ui-togg.is-disabled {
  opacity: .55;
  cursor: not-allowed;
  pointer-events: none;
}

/* input nativo oculto pero accesible para formularios */
.ui-togg__native {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0; height: 0;
  
}

.ui-togg__track {
  width: var(--togg-track-w);
  height: var(--togg-track-h);
  padding: var(--togg-pad);
  border-radius: 999px;
  background: var(--togg-off);
  position: relative;
  transition: background-color .18s ease;
  box-shadow: inset 0 0 0 1px color-mix(in oklab, #000 8%, transparent);
}

.ui-togg__thumb {
  width: var(--togg-thumb);
  height: var(--togg-thumb);
  border-radius: 999px;
  background: var(--sev-contrast, #353535);
  display: block;
  transform: translateX(0);
  transition: transform .18s ease, box-shadow .18s ease, background-color .18s ease;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* Estado ON */
.ui-togg.is-checked .ui-togg__track {
  background: var(--togg-on);
}
.ui-togg.is-checked:hover .ui-togg__track {
  background: var(--togg-on-hover);
}

.ui-togg.is-checked .ui-togg__thumb {
  transform: translateX(calc(var(--togg-track-w) - var(--togg-thumb) - (var(--togg-pad) * 2)));
  background-color: var(--background-color, #fff);
}

/* Neumorphism opcional */
.ui-togg.neu-raised .ui-togg__track {
  box-shadow:
    0 2px 6px color-mix(in oklab, var(--shadow-color, rgba(0,0,0,.35)) 60%, transparent),
    0 -2px 4px color-mix(in oklab, var(--shadow-color-contrast, rgba(255,255,255,.35)) 30%, transparent);
}
.ui-togg.neu-pressed .ui-togg__track {
  box-shadow:
    inset 0 2px 6px color-mix(in oklab, var(--shadow-color, rgba(0,0,0,.35)) 60%, transparent),
    inset 0 -2px 4px color-mix(in oklab, var(--shadow-color-contrast, rgba(255,255,255,.35)) 30%, transparent);
}

/* Variantes (si quieres jugar con borde/flat) */
.ui-togg.v-outlined .ui-togg__track{
  background: var(--togg-on) 90% transparent;
  box-shadow: inset 0 0 0 2px var(--togg-off);
}
.ui-togg.v-flat .ui-togg__track {
  box-shadow: none;
}
