<div class="container-home">
    <div class="container-header">
        <button >Recomendados</button> 
        <button >Recientes</button>
        <button >Mejores valorados</button>
        <button >Populares</button>
    </div>
    
    <div class="head-body">
        <div class="head-body-left">

        </div>
        <div class="head-body-center">
            <h4>Recomendados</h4>   
        </div>

        <div class="head-body-right">           
        </div>
        
    </div>
    <div class="container-body">
        <div class="container-card">
            <div class="card" *ngFor="let course of recommendedCourses">
                <div class="card_view">
                    <div *ngIf="course.thumbnail_url" class="card_view_img">
                        <img [src]="course.thumbnail_url" src="" alt="">
                    </div>
                    <div *ngIf="course.thumbnail_url === null" class="card_view_img">

                        <img src="img\cover\portada-miniature.png" alt="">
                        <div class="card_view_data_null">
                            <p>CURSO</p>
                            <p>{{ course.title}}</p>
                        </div>
                    </div>
                </div>
                <div class="card_content">
                    <div class="card_content_profile">
                        <div *ngIf="course.tutor.profile_picture_url" class="card_content_profile_img">
                            <img [src]="course.tutor.profile_picture_url" alt="">
                        </div>
                        <div *ngIf="course.tutor.profile_picture_url === null" class="card_content_profile_img">
                            <img src="img\logo\jpg\digi-mentor-solo-buho.jpg" alt="">
                        </div>
                        <div class="card_content_profile-info">
                            <div class="card_content_profile_title">
                                <p>{{ course.title }}</p>
                            </div>
                            <div class="card_content_profile_name">
                                <p>{{ course.tutor.name }}</p>
                            </div>
                            <div class="card_content_date display-none">
                                <p>{{ course.created_at }}</p>
                            </div>
                            <div class="card_view_data display-none">
                                <div class="card_view_data_career" *ngFor="let career of course.careers">
                                    <img [src]="career.logo_url" alt="">
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="card_content_details display-none">
                        <div class="card_content_details_description">
                            <p>{{ course.description }}</p>
                        </div>

                    </div>
                    <div class="card_content_actions display-none">
                        <div class="card_content_actions_save">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="head-body">
        <h4>Mejores valorados</h4>
    </div>
    <div class="container-body">
        <div class="container-card">
            <div class="card" *ngFor="let course of bestRatedCourses">
                <div class="card_view">
                    <div *ngIf="course.thumbnail_url" class="card_view_img">
                        <img [src]="course.thumbnail_url" src="" alt="">
                    </div>
                    <div *ngIf="course.thumbnail_url === null" class="card_view_img">

                        <img src="img\cover\portada-miniature.png" alt="">
                        <div class="card_view_data_null">
                            <p>CURSO</p>
                            <p>{{ course.title}}</p>
                        </div>
                    </div>
                </div>
                <div class="card_content">
                    <div class="card_content_profile">
                        <div *ngIf="course.tutor.profile_picture_url" class="card_content_profile_img">
                            <img [src]="course.tutor.profile_picture_url" alt="">
                        </div>
                        <div *ngIf="course.tutor.profile_picture_url === null" class="card_content_profile_img">
                            <img src="img\logo\jpg\digi-mentor-solo-buho.jpg" alt="">
                        </div>
                        <div class="card_content_profile-info">
                            <div class="card_content_profile_title">
                                <p>{{ course.title }}</p>
                            </div>
                            <div class="card_content_profile_name">
                                <p>{{ course.tutor.name }}</p>
                            </div>
                            <div class="card_content_date display-none">
                                <p>{{ course.created_at }}</p>
                            </div>
                            <div class="card_view_data display-none">
                                <div class="card_view_data_career" *ngFor="let career of course.careers">
                                    <img [src]="career.logo_url" alt="">
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="card_content_details display-none">
                        <div class="card_content_details_description">
                            <p>{{ course.description }}</p>
                        </div>

                    </div>
                    <div class="card_content_actions display-none">
                        <div class="card_content_actions_save">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="head-body">
        <h4>Mas populares</h4>
        
    </div>
    <div class="container-body">
        <div class="container-card">
            <div class="card" *ngFor="let course of popularCourses">
                <div class="card_view">
                    <div *ngIf="course.thumbnail_url" class="card_view_img">
                        <img [src]="course.thumbnail_url" src="" alt="">
                    </div>
                    <div *ngIf="course.thumbnail_url === null" class="card_view_img">

                        <img src="img\cover\portada-miniature.png" alt="">
                        <div class="card_view_data_null">
                            <p>CURSO</p>
                            <p>{{ course.title}}</p>
                        </div>
                    </div>
                </div>
                <div class="card_content">
                    <div class="card_content_profile">
                        <div *ngIf="course.tutor.profile_picture_url" class="card_content_profile_img">
                            <img [src]="course.tutor.profile_picture_url" alt="">
                        </div>
                        <div *ngIf="course.tutor.profile_picture_url === null" class="card_content_profile_img">
                            <img src="img\logo\jpg\digi-mentor-solo-buho.jpg" alt="">
                        </div>
                        <div class="card_content_profile-info">
                            <div class="card_content_profile_title">
                                <p>{{ course.title }}</p>
                            </div>
                            <div class="card_content_profile_name">
                                <p>{{ course.tutor.name }}</p>
                            </div>
                            <div class="card_content_date display-none">
                                <p>{{ course.created_at }}</p>
                            </div>
                            <div class="card_view_data display-none">
                                <div class="card_view_data_career" *ngFor="let career of course.careers">
                                    <img [src]="career.logo_url" alt="">
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                    <div class="card_content_details display-none">
                        <div class="card_content_details_description">
                            <p>{{ course.description }}</p>
                        </div>

                    </div>
                    <div class="card_content_actions display-none">
                        <div class="card_content_actions_save">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>





</div>