/* :host {
    overflow-y: auto;
} */
.container-home {
    width: 100%;
    /* height: 100%; */
    /* background-color: #3a90dc; */
    /* display: flex; */
   /*  align-items: center */
   max-height: 100vh;
    overflow-y: auto;
  
}
.head-body{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head-body{
    display: none;
}
.head-body-left{
    width: 40%;
    height: 0.1px;
    background-color: #ffffff67;
}
.head-body-center{
    margin-left: 10px;
}
.head-body-right{
    width: 20%;
    height: 100%;
    /* background-color: aqua; */
    display: flex
}
.container-header{
    /* position: absolute;
    z-index: 95;
    top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-filter{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--sev-contrast);
    color: var(--text-color-contrast);
    cursor: pointer;

    
}
.btn-filter_active{
    background-color: var(--sev-primary);
    color: var(--text-color);
}
/* From Uiverse.io by satyamchaudharydev */ 
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
  background-color: violet;
}
/* .input:focus .header_btn-filter {
  display: none;
} */

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
.container-body{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* max-height: 80vh;
    overflow-y: auto; */
}
.container-card {
    width: 1200px;
    height: 100%;
    margin-top: 10px;
    display: flex;
    /* background-color: aqua; */
    flex-wrap: wrap; 
    justify-content: center;
    /* background-color: aqua; */
}
.display-none{
 display: none;
}
.card{
 width: calc(300px - 10px);
 font-size: 10px;
 height: 250px;
 margin: 10px;
 /* background-color: aqua; */
}
.card:hover {
 cursor: pointer;
 transform: scale(1.05);
 /* height: 260px; */
}
.card:hover .card-hover{
 display: flex;
 
}
.card-hover{
 display: none;

}
.card_view_data_career img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}
.card_view_data_career img{
    background-color: #fefefe00;
}

.card_view_img{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 position: relative
}
.card_view_img img{
 /* object-fit: contain; */
 aspect-ratio: 16 / 9;
 object-fit: cover;   
 width: 100%;
 background-color: #000000;
 border-radius: 7px;
}
.card_content_profile_img img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    /* overflow: hidden */
}
.card_view_data_null{
    position: absolute;
    top: 60px;
    left: 30px;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    
    
}
.card_view_data_null p{
    
    font-weight: 600;
    color: #ffffff;
    
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.card_view_img_null p{
 font-size: 15px;
 color: #ffffff;
 font-weight: 600;
 
}

.card_content_profile-info{
    margin-left: 10px;
}
.card_content{
    width: 100%;
    padding: 5px 0;
}
.card_content_profile{
    display: flex;
    align-items: start;
    justify-content: left;
}
.card_content_profile_title{
 font-size: 13px;
 font-weight: 600;
}





