<!-- Máscara (solo en modo drawer y visible) -->
<div
  class="ui-sidebar__mask"
  *ngIf="ismobile"
  [class.ui-sidebar__mask--dimmed]="ui.mask?.type === 'dimmed' || !ui.mask?.type"
  [class.ui-sidebar__mask--transparent]="ui.mask?.type === 'transparent'"
  [class.ui-sidebar__mask--blur]="ui.mask?.type === 'blur'"
  [attr.aria-hidden]="true"
  >
</div>

<!-- Sidebar -->
<div
  [class]="hostClasses().join(' ')"
  class="ui-sidebar"
  [class.ui-sidebar--open]="ui.visible"
  [class.ui-sidebar--minimized]="ui.minimize"
  [ngStyle]="styleMap()"
  [attr.id]="ui.id || null"
  [attr.role]="'navigation'"
  >
  <ng-content></ng-content>
</div>

