:host {
  display: contents;
}

/* ====== MÁSCARA (drawer) ====== */
.ui-sidebar__mask {
  position: fixed;;
  z-index: calc(var(--z-sidebar) - 1);
  cursor: pointer;
  transition: opacity .25s ease;
  opacity: 1;
}
.ui-sidebar__mask--transparent { background: transparent; }
.ui-sidebar__mask--dimmed { background: var(--overlay-color, rgba(0,0,0,.4)); }
.ui-sidebar__mask--blur {
  backdrop-filter: blur(4px);
  background: var(--overlay-color, rgba(0,0,0,.35));
}

/* ====== SIDEBAR ====== */
.ui-sidebar {
  position: fixed;
  z-index: var(--z-sidebar, 310);
  top: var(--nav-height, 56px);
  height: calc(100vh - var(--nav-height, 56px));
  width: var(--sidebar-width-large);
  background: var(--sidebar-bg);
  display: none;
  
}
.ui-sidebar.position-left {
    left: 0;
    right: auto;
    border-right: 1px solid var(--border-color);
}
.ui-sidebar.position-right {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid var(--border-color);
}
.ui-sidebar.v-flat { background: transparent; border: none; }
.ui-sidebar.v-outlined { background: transparent; }
/* .ui-sidebar.v-filled {  } */

/* Abierto */
.ui-sidebar--open {
 display: block;
}


/* No drawer (estático): empuja contenido.
   Usa --layout-sidebar-offset en tu layout para compensar. */

/* Minimized: solo cambia width, tú defines min/max por inputs */


/* Expanded es el default, pero añadimos la clase para toggles */


/* ====== RESPONSIVE ====== */
/* Móvil: siempre drawer; el ancho respeta el input expandWidth */
@media (max-width: 599px) {
  /* .ui-sidebar {
    width: min(var(--sidebar-width, 250px), 90vw);
  } */
}

/* Tablet: drawer por UX (si tú lo activas con [drawer]="true") */
@media (min-width: 600px) and (max-width: 959px) {
  /* .ui-sidebar {
    width: var(--sidebar-width, 220px);
  } */
}

/* Desktop: ancho por defecto */
@media (min-width: 960px) {
  /* .ui-sidebar {
    width: var(--sidebar-width, 250px);
  } */
}
.ui-sidebar--minimized {
  width: var(--sidebar-width-small);
}



