<button
  class="app-btn"
  [class]="hostClasses().join(' ')"
  [disabled]="presets.disabled"
  [ngStyle]="cssVars()"
  [attr.aria-label]="presets.ariaLabel || (btn.iconOnly ? btn.label : null)"
  [attr.type]="btn.type"
  
>
  <!-- Icono SVG -->
  <span class="btn-icon" *ngIf="safeSvg">
    <span class="svg" [innerHTML]="safeSvg"></span>
  </span>

  <!-- Texto -->
  <span class="btn-label" *ngIf="!btn.iconOnly">{{ btn.label }}</span>

  <!-- Badge -->
  <span class="btn-badge" *ngIf="btn.badge">{{ btn.badge }}</span>
</button>
