/* Defaults (overrideables por [ngStyle]) */
@import url(../../../../../../assets/styles/class/ui.button.css);
.app-btn {
  --btn-width: auto;
  --btn-height: 40px;
  --btn-radius: 10px;
  --btn-gap: 8px;
  --btn-font-size: .95rem;
  --btn-icon-size: 20px;
  --btn-border-width: 2px;
  --btn-pad-x: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--btn-gap);
  width: var(--btn-width);
  height: var(--btn-height);
  padding: 0 var(--btn-pad-x);
  border-radius: var(--btn-radius);
  border: none;
  cursor: pointer;
  position: relative;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Open Sans", sans-serif;
  font-weight: 600;
  font-size: var(--btn-font-size);
  transition: background-color .2s ease, color .2s ease, border-color .2s ease, box-shadow .2s ease, transform .04s ease;
}

/* Estados */
.app-btn:hover { background: var(--btn-bg-hover); }
.app-btn:active { transform: translateY(1px); }
.app-btn.is-disabled { opacity: .5; pointer-events: none; }

/* Variantes */
.app-btn.v-filled { background: var(--btn-bg); color: var(--btn-fg); border: none; }
.app-btn.v-outlined { background: transparent; color: var(--btn-border); border: var(--btn-border-width) solid var(--btn-border); }
.app-btn.v-outlined:hover { background: color-mix(in oklab, var(--btn-border) 10%, transparent); }
.app-btn.v-flat { background: transparent; color: var(--btn-bg); border: none; }
.app-btn.v-flat:hover { background: color-mix(in oklab, var(--btn-bg) 8%, transparent); }
/* .app-btn.v-flat { background: var(--sev-secondary, #eee); color: var(--text-color, #111); } */

/* Elevación */
.app-btn.is-raised { box-shadow: 0 2px 6px var(--shadow-color, rgba(0,0,0,.2)); }

/* Tamaños (la tipografía se ajusta por var(--btn-font-size)) */
/* .app-btn.s-sm {}
.app-btn.s-md {}
.app-btn.s-lg {} */

/* Icono */
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
  line-height: 1;
}
.btn-icon .svg :where(svg) {
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
  display: block;
  
}
.svg {
  width:var(--btn-icon-size);;
  height: var(--btn-icon-size);;
  display: block;
}
.btn-icon img {
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
  display: block;
}

/* Texto */
.btn-label { white-space: nowrap; }

/* Badge */
.btn-badge {
  position: absolute;
  top: var(--btn-badge-top-right);
  right: var(--btn-badge-top-right);
  min-width: var(--btn-badge-size);
  max-width: var(--btn-badge-size);
  min-height: var(--btn-badge-size);
  max-height: var(--btn-badge-size);
  /* padding: 5px 5px; */
  padding: 0px;
  border-radius: 999px;
  background: var(--btn-badge-bg);
  color: var(--btn-badge-fg);
  font-size: var(--btn-badge-font);
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px var(--shadow-color, rgba(0,0,0,.2));
  
}

