<button
  [class]="hostClasses().join(' ')"
  [disabled]="btn.disabled"
  [ngStyle]="styleMap()"
  [attr.aria-label]="btn.ariaLabel || btn.label || null"
  [attr.role]="btn.role || 'button'"
  [attr.tabindex]="btn.tabIndex ?? 0"
  [attr.aria-pressed]="btn.ariaPressed"
  [attr.title]="btn.title || null"
  [attr.type]="btn.type"
>
  <!-- Icono -->
  <span class="btn-icon" *ngIf="safeSvg" [ngClass]="btn.iconClass" [ngStyle]="btn.iconStyle">
    <span class="svg" [innerHTML]="safeSvg"></span>
  </span>

  <!-- Texto -->
  <span class="btn-label" *ngIf="btn.label">{{ btn.label }}</span>

  <!-- Badge -->
  <span class="btn-badge" *ngIf="btn.badge"
        [ngClass]="btn.badgeClass"
        [ngStyle]="btn.badgeStyle">
    {{ btn.badgeValue }}
  </span>
</button>
