<button
  [class]="hostClasses().join(' ')"
  [disabled]="btn.disabled"
  [ngStyle]="styleMap()"
  [attr.aria-label]="btn.ariaLabel || btn.label || null"
  [attr.role]="btn.role || 'button'"
  [attr.tabindex]="btn.tabIndex ?? 0"
  [attr.aria-pressed]="btn.ariaPressed"
  [attr.title]="btn.title || null"
  [attr.type]="btn.type"
>
  <!-- Icono -->
<!-- button.component.html -->
<span class="btn-icon" *ngIf="btn.icon?.svgPath">
  <ui-icon
    [size]="btn.size || 'sm'"
    [severity]="btn.severity || 'primary'"
    [svgPath]="btn.icon?.svgPath"
    [iconStyle]="btn.icon?.iconStyle"
    [iconClass]="btn.icon?.iconClass">
  </ui-icon>
</span>


  <!-- Texto -->
  <span class="btn-label" *ngIf="btn.label">{{ btn.label }}</span>

  <!-- Badge -->
  <span class="btn-badge" *ngIf="btn.badge"
        [ngClass]="btn.badgeClass"
        [ngStyle]="btn.badgeStyle">
    {{ btn.badgeValue }}
  </span>
</button>
