/* #D8B4FE #D8B4FE */
:root {
    --help-50: #FAF5FF;
    --help-100: #F3E8FF;
    --help-200: #E9D5FF;
    --help-300: #D8B4FE;
    --help-400: #C084FC;
    --help-500: #A855F7;
    --help-600: #9333EA;
    --help-700: #9333EA;
    --help-800: #6B21A8;
    --help-900: #581C87;
    --help-950: #3B0764;
}