/* #7DD3FC  #7DD3FC*/
:root{
   --info-50: #EFF6FF;
   --info-100: #DBEAFE;
   --info-200: #BFDBFE;
   --info-300: #93C5FD;
   --info-400: #60A5FA;
   --info-500: #3B82F6;
   --info-600: #2563EB;
   --info-700: #1D4ED8;
   --info-800: #1E40AF;
   --info-900: #1E3A8A;
   --info-950: #172554;
}
