/* measures.component.css */
:root{
   /* ancho & alto */
   --sidebar-width: 250px;
   --nav-height: 58px;
   --sidebar-width-small: 72px;

   /* z-index */;
   --z-nav:300;
   --z-drawer:400;
   --z-dialog:500;
   --z-popover:100;
   --z-mask-drawer:399;
}