<section class="path">
  <!-- Perfil -->
  <div class="profile-card">
    <div class="avatar">
      <img *ngIf="avatarUrl(); else initialsTpl" [src]="avatarUrl()!" alt="avatar" />
      <ng-template #initialsTpl>
        <div class="avatar-initials">{{ initials() }}</div>
      </ng-template>
    </div>

    <div class="info">
      <h2 class="welcome">¡Hola de nuevo, {{ displayNameUpper() }}!</h2>
      <div class="meta">
        <span class="username">{{ '@' + username() }}</span>
        
      </div>
    </div>
  </div>

  <!-- Tabs -->
  <nav class="tabs">
    <a routerLink="historial" routerLinkActive="active">Historial</a>
    <a routerLink="guardados" routerLinkActive="active">Guardados</a>
    <a routerLink="completados" routerLinkActive="active">Completados</a>
  </nav>

  <!-- Contenido de la ruta hija -->
  <router-outlet></router-outlet>
</section>

