/* src/app/shared/components/select-dataview/select-dataview.component.css */
:host { display: block; font-family: 'Open Sans', system-ui, sans-serif; }

.sdv-wrap {
  /* background: var(--sdv-bg); */
  color: var(--sdv-fg);
  /* border: 1px solid var(--sdv-border); */
  border-radius: var(--sdv-radius);
  padding: var(--sdv-pad);
}

/* Estado generales */
.sdv.is-disabled { opacity: .6; pointer-events: none; }
.sdv.is-invalid  { outline: 2px solid var(--sev-danger, #e53935); }

/* Filtro */
.sdv-filter {
  display: flex;
  align-items: center;
  gap: var(--sdv-gap);
  margin-bottom: var(--sdv-gap);
}
.sdv-input {
  flex: 1;
  min-height: 38px;
  border: 1px solid var(--sdv-border);
  border-radius: 8px;
  padding: 0 10px;
  background: var(--background-color);
  color: var(--text-color);
}

/* Grid */
.sdv-grid {
  display: grid;
  grid-template-columns: repeat(var(--sdv-cols), minmax(0, 1fr));
  gap: var(--sdv-gap);
}

.sdv-item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  min-height: var(--sdv-item-h);
  width: 100%;
  border: 1px solid var(--sdv-border);
  border-radius: 10px;
  background: var(--card-bg);
  color: var(--text-color);
  padding: 8px 10px;
  cursor: pointer;
  text-align: left;
  transition: transform .06s ease, background-color .2s ease, border-color .2s ease, box-shadow .2s ease;
}

.sdv-item:hover {
  background: var(--background-hover);
  border-color: var(--sdv-accent-hover);
}

.sdv-item.is-selected {
  border-color: var(--sdv-accent);
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--sdv-accent) 25%, transparent);
}

.sdv-thumb {
  width: 70px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 1px 2px var(--shadow-color);
  
}
.sdv-thumb:hover {
  width: 150px;
  height: 50px;
  /* transform: scale(1); */
  background-color: var(--card-bg);
  border: none;
  border-radius: 0px;
  object-fit: contain;
}
.sdv-label {
  font-size: var(--sdv-font);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Acciones */
.sdv-actions {
  /* margin-top: calc(var(--sdv-gap) + 2px); */
  display: flex;
  justify-content: flex-end;
}
.sdv-clear,
.sdv-add {
  height: 34px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid var(--sdv-border);
  background: var(--sev-secondary, #ddd);
  color: var(--text-color);
}
.sdv-clear:hover,
.sdv-add:hover {
  background: var(--sev-secondary-hover, #ccc);
}

/* Editable */
.sdv-edit {
  margin-top: var(--sdv-gap);
  display: flex;
  gap: var(--sdv-gap);
  align-items: center;
}
