<div class="content-course">
  <div [class.modules-small]="!openModule" class="modules">

    <div class="modules-header">
      <ui-button
        (click)="closeModules()"
        type="button"
        size="lg"
        [style]="{borderRadius: '10px' , width: '50px', height: '50px' , padding: '0px'}"
        severity="contrast"
        variant="flat"
        [icon]="{svgPath: 'svg/nav-list.svg'}">
      </ui-button>

      <ui-button
        (click)="closeModules()"
        type="button"
        size="lg"
        [style]="{borderRadius: '50%' , width: '40px', height: '40px', padding: '0px'}"
        severity="contrast"
        variant="flat"
        [icon]="{svgPath: 'svg/x.svg'}">
      </ui-button>
    </div>

    <!-- Loading / error -->
    <div *ngIf="loading()" class="loading">Cargando…</div>
    <div *ngIf="!loading() && error()" class="error">{{ error() }}</div>

    <ng-container *ngIf="!loading() && !error()">
      <div class="accordion" *ngFor="let m of modules(); trackBy: trackByModule">
        <button
          class="acc-header"
          type="button"
          (click)="toggle(m.id)"
          [attr.aria-expanded]="isOpen(m.id)"
          [attr.aria-controls]="'panel-' + m.id">
          <div class="acc-title">
            <span class="mod-name" >{{ m.name }}</span>
          </div>

          <!-- Caret -->
          <ui-icon
            class="chevron"
            [class.open]="isOpen(m.id)"
            [size]="'lg'"
            [severity]="'primary'"
            [svgPath]="'svg/arrow-down.svg'">
          </ui-icon>
        </button>

        <div class="acc-panel" [class.open]="isOpen(m.id)" [id]="'panel-' + m.id">
          <div class="panel-inner">
            <ul class="chapters">
              <li class="chapter-item" *ngFor="let c of m.chapters; trackBy: trackByChapter">
  <button class="chapter-btn" type="button" (click)="selectChapter(c)">
    <div class="chapter-btn-content">
      
      <span class="chapter-underline" [class.chapter-underline-active]="isActiveChapter(c.id)"></span>

      <div class="chapter-content">
        <div class="chapter-header">
          <span [class.status-active]="c.completed" class="status"></span>
          <span class="chapter-title">{{ c.title }}</span>
        </div>

        <div class="chapter-meta">
          <span class="icon-slot" *ngIf="learningIcon(c) as iconPath">
            <ui-icon [size]="'sm'" [severity]="'primary'" [svgPath]="iconPath"></ui-icon>
          </span>
          <span class="questions">{{ c.questions }} preguntas</span>
        </div>
      </div>
    </div>
  </button>
</li>

            </ul>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <!-- La vista derecha queda tal cual (tu diseño actual) -->
  <div class="view">
    <router-outlet></router-outlet>
    <div class="detail">
      <app-detail></app-detail>
    </div>
    <div class="comment">
        <app-comment></app-comment>
    </div>
  </div>

</div>
