<form class="content-details" [formGroup]="form">
    <div class="content-details">
        <div class="content-section-start">
            <div class="section-start-left">
                <div class="section-name">
                    <div class="section-name-left">
                        <h4>Detalles del curso</h4>
                    </div>
                    <div class="section-name-right">

                        <ui-button  neumorphism="raised" [btnStyle]="{borderRadius: '30px'}" label="Restablecer"
                            severity="secondary" [icon]="{svgPath: 'svg/clear-all.svg'}">
                        </ui-button>
                        <ui-button neumorphism="raised" [btnStyle]="{borderRadius: '30px'}" label="Guardar"
                            severity="primary" [icon]="{svgPath: 'svg/save-outline.svg'}">
                        </ui-button>

                    </div>

                </div>
                <div class="section-card">
                    <div class="section-card-item">

                        <div class="section-card-content">
                            <!-- <div class="section-card-label">
                                <label class="card-label" for="">Título</label>
                                <span>(obligatorio)</span>
                            </div>
                            <textarea formControlName="title" autosize id="title" class="card-input" rows="1"
                                placeholder="Escribe un título claro y único"></textarea>
                            <div class="card-counter">
                                <span>1/100</span>
                            </div> -->
                            <ui-input-label formControlName="title" label="Título (obligatorio)" severity="primary"
                                placeholder="Escribe un título claro y único" type="text" variant="outlined"
                                [counter]="true" [min]="10" [max]="100" [autoSize]="true"
                                [invalid]="f.description.invalid && (f.title.touched || f.title.dirty)"></ui-input-label>

                        </div>
                    </div>

                    <div class="section-card-item">

                        <!-- <div class="section-card-content">
                            <div class="section-card-label">
                                <label class="card-label" for="">Descripción</label>
                                <span></span>
                            </div>
                            <textarea autosize id="title" class="card-input card-textarea" rows="1"
                                placeholder="Describe el curso"></textarea>
                            <div class="card-counter">
                                <span>1/500</span>
                            </div>

                        </div> -->
                        <div class="section-card-content">

                            <ui-input-label formControlName="description" label="Descripción" severity="primary"
                                placeholder="Describe el curso" type="textarea" variant="outlined" [counter]="true"
                                [min]="0" [max]="300" [autoSize]="true"
                                [invalid]="f.description.invalid && (f.description.touched || f.description.dirty)"></ui-input-label>
                        </div>
                    </div>


                    <div class="section-card-item">
                        <div class="content-cb-sb">

                            <div class="card-select">
                                <label class="card-select-label" for="difficulty">Dificultad</label>
                                <ui-select-button
  formControlName="difficulty_id"
  [options]="mapDifficulties()"     
  [optionLabel]="'name'"           
  [optionValue]="'id'"           
  orientation="horizontal"
  variant="outlined"
  severity="primary"
  size="sm"
  [multiple]="false"
  (selectionChange)="onSelectDifficulty($event)"  
>
</ui-select-button>


                            </div>
                            <div class="card-settings">
                                <div class="course-settings">
                                    <div>
                                        <h4>Configuración de Privacidad y Estado</h4>
                                    </div>
                                    
                                    <!-- Toggle para Curso Privado -->
                                    <div class="toggle-container">
                                        <label class="toggle-label" for="private-toggle">
                                            Curso Privado
                                            <span class="toggle-description">(Esto genera un código de acceso al
                                                guardar)</span>
                                        </label>
                                        <div class="toggle-switch">
                                            <!-- <ui-toggle-witch  label="Notificaciones" onLabel="ON" offLabel="OFF"
                                                variant="soft" [severity]="'primary'" [size]="'md'" [raised]="true">
                                            </ui-toggle-witch> -->
                                        </div>
                                    </div>

                                    <!-- Campo para mostrar código (opcional, visible solo si privado está activado) -->
                                    <div class="access-code">
                                        <div class="access-code-letf">
                                            <div class="access-code-content">
                                                <label class="access-code-label" for="">Restablecer Código de
                                                    Acceso</label>
                                                <div class="access-code-show">
                                                    <span>khJJJ</span>

                                                </div>
                                            </div>


                                            <div class="access-code-note">
                                                <span class="toggle-description">Activa para restablecer un nuevo codigo
                                                    cuando se
                                                    guarda</span>
                                            </div>
                                        </div>
                                        <div class="access-code-right">
                                            <div class="toggle-switch">
                                                <!-- <ui-toggle-witch>
                                                </ui-toggle-witch> -->
                                            </div>
                                        </div>


                                    </div>



                                    <!-- Toggle para Curso Activo -->
                                    <div class="toggle-container">
                                        <label class="toggle-label" for="active-toggle">
                                            Curso Activo
                                            <span class="toggle-description">(El curso está publicado y disponible; off
                                                lo desactiva)</span>
                                        </label>
                                        <div class="toggle-switch">
                                            <!--  <ui-toggle-witch>
                                            </ui-toggle-witch> -->
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>



                    </div>


                </div>
            </div>
            <div class="section-start-right">
                <div>
                    <div class="section-name section-name-start-right">
                        <h4>Miniatura</h4>
                    </div>
                    <div>
                        <ui-file-upload formControlName="miniatureUrl" [fudStyle]="{width: '350px'}" label="Suelta una imagen o selecciona"
                            [types]="['image' , 'video' , 'document']" [formats]="['jpg','png','gif','mp4','pdf']" variant="outlined" severity="primary"
                            size="sm"></ui-file-upload>
                    </div>



                </div>

            </div>
        </div>
        <div class="content-section-end">

        </div>
        <div (click)="openModalMiniature()" *ngIf="modalOpenMiniature" class="modal-miniature-overlay">

        </div>
        <div *ngIf="modalOpenMiniature" class="modal-miniature">

            <img class="miniature-preview" src="img\cover\no-thumbnail.jpg" alt="">

        </div>

    </div>
</form>