<div class="content-details">
    <form class="details-form" [formGroup]="form">
        <div class="details-start">
            <div class="details-start-left">
                <div class="start-left-name">
                    <div class="start-left-name-left">
                        <h4>Detalles del curso</h4>
                    </div>
                    <div class="start-left-name-right">

                        <ui-button [disabled]="form.pristine" (click)="resetForm()" neumorphism="raised"
                            [style]="{borderRadius: '30px'}" label="Restablecer" severity="secondary"
                            [icon]="{svgPath: 'svg/clear-all.svg'}">
                        </ui-button>
                        <ui-button type="button"  (click)="save()" [disabled]="isSaveDisabled()" neumorphism="raised" [style]="{borderRadius: '30px'}"
                            label="Guardar" severity="primary" [icon]="{svgPath: 'svg/save-outline.svg'}">
                        </ui-button>

                    </div>

                </div>
                <div class="start-left-edit">
                    <div class="start-left-edit-item">

                        <div class="start-left-edit-input">
                            <ui-input-label formControlName="title" [label]="{label:'Título (obligatorio)'}" severity="primary"
                                placeholder="Escribe un título claro y único" type="text" variant="outlined"
                                 [max]="100" [autoSize]="true"
                                [invalid]="f.title.invalid && (f.title.touched || f.title.dirty)"></ui-input-label>

                        </div>
                    </div>

                    <div class="start-left-edit-item">
                        <div class="start-left-edit-input">
                            <ui-input-label formControlName="description"[label]="{label:'Descripción'}"  severity="primary"
                                placeholder="Describe el curso" type="textarea" variant="outlined"
                                [max]="300" [autoSize]="true"
                                [invalid]="f.description.invalid && (f.description.touched || f.description.dirty)"></ui-input-label>
                        </div>
                    </div>
                    <div class="start-left-edit-item flex-row-item">
                        <div class="item-card">
                            <div class="item-card-header">
                                <label class="item-card-header-label" for="">Codigo de acceso</label>
                                <div class="item-card-header-icon">
                                    <ui-popover neumorphism="raised" [style]="{width: 'auto'}" position="bottom-left"
                                        [closeOnOutside]="true" [closeOnInside]="true" [(visible)]="povOpen"
                                        [type]="'plain'" [variant]="'filled'" [severity]="'primary'">
                                        <ui-button *ngIf="form.get('private')?.value" label="Copiar vinculo de acceso" size="md"
                                            variant="flat" neumorphism="flat"
                                            [style]="{borderRadius: '0px', width: '100%', height: '50px' ,justifyContent: 'left', fontSize: '13px'}"
                                            severity="contrast">
                                        </ui-button>
                                        <ui-button label="Copiar codigo de acceso" *ngIf="form.get('private')?.value" (click)="copyToClipboard()"  size="md"
                                            variant="flat" neumorphism="flat"
                                            [style]="{borderRadius: '0px', width: '100%', height: '50px' ,justifyContent: 'left', fontSize: '13px'}"
                                            severity="contrast">
                                        </ui-button>
                                        <ui-button *ngIf="form.get('private')?.value" (click)="codeGeneration()" label="Restablecer codigo de acceso"  size="md"
                                            variant="flat" neumorphism="flat"
                                            [style]="{borderRadius: '0px', width: '100%', height: '50px' ,justifyContent: 'left', fontSize: '13px'}"
                                            severity="contrast">
                                        </ui-button>
                                        <ui-button (click)="codeDesactivation()"  *ngIf="form.get('private')?.value" label="Desactivar"  size="md" variant="flat"
                                            neumorphism="flat"
                                            [style]="{borderRadius: '0px', width: '100%', height: '50px' ,justifyContent: 'left', fontSize: '13px'}"
                                            severity="contrast">
                                        </ui-button>
                                        <ui-button (click)="codeActivation()" *ngIf="!form.get('private')?.value" label="Activar"  size="md" variant="flat"
                                            neumorphism="flat"
                                            [style]="{borderRadius: '0px', width: '100%', height: '50px' ,justifyContent: 'left', fontSize: '13px'}"
                                            severity="contrast">
                                        </ui-button>
                                    </ui-popover>
                                    <ui-button size="md" (click)="povOpen = !povOpen" variant="flat"
                                        neumorphism="raised"
                                        [style]="{borderRadius: '19px', width: '35px', height: '35px' }"
                                        severity="primary" [icon]="{svgPath: 'svg/menu-dots.svg'}">
                                    </ui-button>

                                </div>


                            </div>

                            <div class="item-card-body">
                                <span *ngIf="!form.get('private')?.value">Sin codigo de acceso</span>
                                <input readonly class="item-card-body-input" *ngIf="form.get('private')?.value" type="text"
                                    formControlName="code">
                                

                            </div>
                        </div>

                    </div>
                    <div class="start-left-edit-item">
                        <div class="item-checkbox">
                            <ui-toggle-witch formControlName="enabled" [severity]="'primary'" [size]="'sm'"
                                [type]="'switch'">
                            </ui-toggle-witch>

                            <span *ngIf="form.get('enabled')?.value" for="">Curso activo</span>
                            <span *ngIf="!form.get('enabled')?.value" for="">Curso inactivo</span>
                        </div>
                        <div class="item-checkbox-description">
                            <span *ngIf="form.get('enabled')?.value">El curso estara disponible para los
                                estudiantes</span>
                            <span *ngIf="!form.get('enabled')?.value">El curso no estara disponible para los
                                estudiantes</span>
                        </div>

                    </div>

                </div>
            </div>
            <div class="details-start-right">
                <div class="start-right-name">
                    <h4>Miniatura</h4>
                </div>
                <div class="start-right-edit">
                    <div class="start-right-edit-item">
                        <ui-file-upload   (fileSelected)="selectedMiniature = $event" [formControl]="form.controls.miniatureUrl"  [style]="{width: '350px'}"
                        label="Suelta una imagen o selecciona" [types]="['image']" [formats]="['jpg','png','webp']"
                        variant="outlined" severity="primary" size="sm"></ui-file-upload>
                        
                        
                    </div>

                    <div class="start-right-edit-item">
                        <div class="start-right-edit-select">
                            <div>
                                <h4>Categorias</h4>
                            </div>
                            <div>
                                <ui-select variant="outlined" [showClear]="true" [showBadge]="true" [maxBadge]="4"
                                    [style]="{width: '350px'}" formControlName="categories"
                                    [options]="categoriesAvail()" optionLabel="name" optionValue="id" [multiple]="true"
                                    [filter]="true" [showClear]="true" [max]="MAX_CATEGORIES" placeholder="Selecciona categorías"
                                    type="float" [severity]="'primary'"></ui-select>
                            </div>

                        </div>

                    </div>
                    <div class="start-right-edit-item">
                        <div class="start-right-edit-select-button">
                            <label class="item-select-label" for="difficulty">Dificultad</label>
                        <ui-select-button formControlName="difficulty_id" [options]="mapDifficulties()"
                            [optionLabel]="'name'" [optionValue]="'id'" orientation="horizontal" variant="outlined"
                            severity="primary" size="sm" [multiple]="false"
                            (selectionChange)="onSelectDifficulty($event)">
                        </ui-select-button>
                        </div>
                        
                    </div>

                </div>


            </div>
        </div>
        <div class="details-end">
            <div class="end-name">

            </div>
            <div class="end-edit">
                <div class="end-edit-item">
                    <ui-select-dataview  formControlName="careers" [options]="careersAvail()" optionLabel="name"
                        optionValue="id" optionSrc="url_logo" [multiple]="true" [filter]="true" [columns]="3" [max]="MAX_CAREERS"
                        [showClear]="true"
                        ariaLabel="Seleccionar carreras" variant="outlined" severity="primary" size="md">
                    </ui-select-dataview>
                </div>
            </div>
        </div>
    </form>
</div>
<ui-loading-bar
  [visible]="saved()"
  [mask]="{ type: 'dimmed' }">
</ui-loading-bar>