.content-details{
    width: 100%;
}
.content-section-start{
    width: 100%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-name{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
    padding: 0 25px;
}
.section-name-right ,.section-name-left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.section-start-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.section-start-right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-card{
    width: 100%;
    /* flex:1; */
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    /* align-items: flex-start; */
}
.section-card-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background-color: azure; */

    
  /* padding opcional para respirar */
    /* padding-top: 6px; */
}
.section-card-content{
    width: calc(100% - 40px);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: rgb(27, 172, 63); */
    margin: 0 20px 0px 20px;
    height: auto;

    /* align-items: flex-start;
    justify-content: flex-start; */

}
.card-input{
    
    width: 100%;
    /* height: 100%; */
    margin: 0;
    background-color: #00000000;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    outline:none;
    padding: 30px 15px 30px 15px;
    resize: none;
    overflow:hidden; 
    /* min-height: 70px; */
    font-size: 14px;
    font-weight: 500;
    
}
.card-textarea{
    min-height: 200px;
}
.card-input:hover{
    
    border: 1px solid var(--active-color);
}
.card-input:focus{
  border: 1.5px solid var(--active-color);         
  box-shadow:none; 
}
.section-card-label{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    gap: 5px;
    top: 0px;
    left: 15px;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
}
.card-counter{
    position: absolute;
    bottom:  10px;
    right: 10px;
/*     margin: 15px 30px 0 0px; */
    font-size: 11px;
    font-weight: 500;
}
.btn-details{
    background-color: none;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.button-overlay{
    background-color: #00000047;
    border: none;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-overlay:hover{
    background-color: #00000062;
}
.btn-save{
    background-color: var(--bottom-primary);
    color: var(--background-color);
}
.btn-save:hover{
    background-color: var(--bottom-primary-hover);
    
}
.btn-restore{
    background-color: var(--bottom-secondary);
}
.btn-restore:hover{
    background-color: var(--bottom-secondary-hover);
}
.section-card-miniature{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    overflow: hidden
}
.miniature-view{
    width: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover
}
.card-miniature-content{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-miniature-button{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30px;
    margin-right: 10px;

    
}
.card-miniature-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.card-miniature-label{
    padding: 10px;
    margin-left: 10px;
}
.card-miniature-view{
    position: relative;
}
.card-miniature-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-mask-bg);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card-miniature-overlay:hover{
    opacity: 1;
}
.svg-icon{
    width: 15px;
    height: 15px;
}
.btn-upload{
    background-color: var(--bottom-info);
    color: var(--background-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-upload:hover{
    background-color: var(--bottom-info-hover);
}
.modal-miniature-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlay-mask-bg);
    z-index: 200;
}
.modal-miniature{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--shadow-color);  
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.miniature-preview{
    width: 700px;
    aspect-ratio: 16 / 9;
    object-fit: contain
}






