.content-details{
    width: 100%;
    overflow: auto;
    height: 100%;

}
.details-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.details-start{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    /* background-color: aqua; */
}
.details-end{
    width: 100%;
    height: 300px;
    /* background-color: rgb(255, 204, 127); */

}
.start-left-name{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
    padding: 0 25px;
}
.start-left-name-right ,.start-left-name-left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0px 38px 0px 0px;
}
.details-start-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction:column;
    
}
.details-start-right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
    
}

.start-right-name{
    width: 100%;
    padding: 26px 0px 11px 0px;
}
.start-left-edit{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.start-right-edit{
    width: 100%;
}
.start-left-edit-item{
    width: 100%;
    padding: 0 20px 0px 20px;
}
.flex-column-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;

}
.flex-row-item{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

}
.item-select-label{
    font-size: 13px;
    
}


.start-left-edit-input{
    width: calc(100% - 40px);
    flex: 1;
    
    height: auto;

}
.item-card{
    width: 280px;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* background-color: var(--card-bg); */
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 20px 20px;
    box-shadow: 0px 0px 3px var(--shadow-color);
}
.item-card-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    position: relative;
}
.item-card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}
.item-card-header-icon{
    position: relative;
}
.item-card-body-input{
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100px;
    color: var(--sev-primary);
    font-weight: 600;
    
}
.item-card-header-label{
    font-size: 13px;
}
.item-checkbox{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px 0px 5px 0px;
}
.item-checkbox-description{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 0px 10px 0px;

}








