<div
  [ngClass]="[
    'up-root',
    'v-' + (pv.variant || 'filled'),
    's-' + (pv.size || 'md'),
    pv.disabled ? 'is-disabled' : '',
    pv.class || ''
  ]"
  [ngStyle]="styleMap()"
  [attr.role]="'button'"
  [attr.tabindex]="pv.disabled ? -1 : 0"
  [attr.aria-disabled]="pv.disabled"
  class="up-root"
>
  <!-- Marco de miniatura -->
  <div class="up-frame" (click)="isImage() && pv.overlay ? openDialog() : null">
    <!-- IMAGE -->
    <img
      *ngIf="isImage() && pv.src; else upVideoOrEmpty"
      class="up-thumb"
      [ngStyle]="styleMap()"
      [src]="pv.src!"
      [alt]="pv.alt || 'Vista previa'"
      (click)="isImage() && pv.overlay ? tryOpenFromOverlayClick($event) : stopPropagation($event)"
    />

    <!-- VIDEO o EMPTY -->
    <ng-template #upVideoOrEmpty>
      <!-- VIDEO (sin overlay, sin dialog) -->
      <video
        *ngIf="isVideo() && pv.src; else upEmpty"
        class="up-video"
        [ngStyle]="styleMap()"
        [attr.controls]="true"
        preload="metadata"
        playsinline
        (click)="stopPropagation($event)"
      >
        <source [src]="pv.src!" type="video/mp4" />
        Tu navegador no soporta la reproducción de video.
      </video>

      <!-- EMPTY -->
      <ng-template #upEmpty>
        <div [ngStyle]="styleMap()" class="up-empty">Sin archivo</div>
      </ng-template>
    </ng-template>

    <!-- Overlay SOLO para imágenes -->
    <div
      *ngIf="isImage() && pv.mask && pv.src"
      [ngStyle]="styleMap()"
      class="up-overlay"
      (click)="tryOpenFromOverlayClick($event)">
      <ui-icon
        *ngIf="pv.overlay"
        [size]="pv.icon?.size || 'sm'"
        [severity]="pv.icon?.severity || pv.severity || 'primary'"
        [svgPath]="pv.icon?.svgPath || 'svg/eye.svg'"
        [style]="pv.icon?.style"
        [class]="pv.icon?.class">
      </ui-icon>

      <!-- Botones extra en overlay; NO abren el diálogo -->
      <div class="up-overlay-slot" (click)="stopPropagation($event)">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <!-- Diálogo reutilizable (SOLO imagen) -->
  <ui-dialog
    *ngIf="isImage()"
    type="image"
    [variant]="pv.variant || 'flat'"
    [closeOnMaskClick]="pv.dialog?.closeOnMaskClick ?? true"
    [(visible)]="dialogVisible"
    (maskClick)="onMaskClick()"
  >
    <img class="up-dialog-img" [src]="pv.src!" [alt]="pv.alt || 'Vista ampliada'">
  </ui-dialog>
</div>
