/* Contenedor principal */
.chk-wrap.ui-checkbox {
  --chk-size: 18px;
  --chk-radius: 5px;
  --chk-gap: 8px;
  --chk-font: .93rem;

  --chk-fg: var(--text-color);
  --chk-border: var(--border-color);
  --chk-active: var(--sev-primary);
  --chk-active-hover: var(--sev-primary-hover);

  display: inline-flex;
  align-items: center;
  gap: var(--chk-gap);
  font-size: var(--chk-font);
  color: var(--chk-fg);
  cursor: pointer;
  user-select: none;
  position: relative;
}

/* Solo caja (sin label) */
.chk-wrap.only-box .chk-label { display: none; }

/* Caja visual */
.chk-box {
  width: var(--chk-size);
  height: var(--chk-size);
  border-radius: var(--chk-radius);
  border: 1.5px solid var(--chk-border);
  background: var(--background-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color .15s ease, border-color .15s ease, box-shadow .15s ease; */
  position: absolute;
}

/* Estados hover/focus */
.chk-wrap:hover .chk-box {
  border-color: var(--chk-active-hover);
}

/* Checked */
/* .ui-checkbox:not(.is-indeterminate) .chk-box:has(+ .chk-label) {}
.ui-checkbox.sev-primary .chk-box {} */

.ui-checkbox .chk-box:has(svg) {
  background: color-mix(in oklab, var(--chk-active) 16%, transparent);
  border-color: var(--chk-active);
}

/* Mark */
.chk-mark, .chk-mid {
  width: calc(var(--chk-mark-size));
  height: calc(var(--chk-mark-size));
  fill: var(--chk-active);
  display: flex;
}

/* Label */
.chk-label {
  line-height: 1.1;
}

/* Native (oculta pero accesible si se quiere usar) */
.chk-native {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  
}

/* Invalid/Disabled */
.ui-checkbox.is-invalid .chk-box {
  border-color: var(--sev-danger);
}
.ui-checkbox.is-disabled {
  opacity: .6;
  cursor: not-allowed;
}

/* Neumorphism */
.ui-checkbox.neu-raised .chk-box {
  box-shadow:
    var(--chk-shadow) color-mix(in oklab, var(--shadow-color, rgba(0,0,0,.35)) 60%, transparent),
    var(--chk-shadow-contrast) color-mix(in oklab, var(--shadow-color-contrast, rgba(255,255,255,.35)) 30%, transparent);
}
.ui-checkbox.neu-pressed .chk-box {
  box-shadow:
    inset var(--chk-shadow) color-mix(in oklab, var(--shadow-color, rgba(0,0,0,.35)) 60%, transparent),
    inset var(--chk-shadow-contrast) color-mix(in oklab, var(--shadow-color-contrast, rgba(255,255,255,.35)) 30%, transparent);
}
.ui-checkbox.neu-convex .chk-box {
  background: radial-gradient(120% 120% at 30% 30%,
    color-mix(in oklab, var(--chk-active) 14%, #fff 86%) 0%,
    var(--background-color) 60%);
}
.ui-checkbox.neu-concave .chk-box {
  background: radial-gradient(120% 120% at 70% 70%,
    color-mix(in oklab, var(--chk-active) 14%, #000 86%) 0%,
    var(--background-color) 60%);
}

/* Variantes visuales rápidas (bordeado/plano) */
.ui-checkbox.v-outlined .chk-box {
  border-width: 1px;
}
.ui-checkbox.v-flat .chk-box {
  background: transparent;
}
