<div class="sbb-field" [class.error]="!!sb.invalid" [class.disabled]="sb.disabled">

  <div
    class="sbb-group"
    [class]="hostClasses().join(' ')"
    [attr.role]="sb.multiple ? 'group' : 'radiogroup'"
    [attr.aria-label]="sb.ariaLabel || null"
    [attr.aria-disabled]="sb.disabled || null"
    [ngStyle]="groupVars()"
  >
    <ui-button
      
      *ngFor="let it of items"
      
      [label]="it.label"
      [severity]="sb.severity"
      [size]="sb.size"
      [variant]="sb.variant"
      [disabled]="sb.disabled || it.disabled"
      [attr.role]="sb.multiple ? 'checkbox' : 'radio'"
      [attr.aria-checked]="isCheckedAndClass(it)"
      [class]="isCheckedAndClass(it)"
     
      (click)="selectOption(it)"
    ></ui-button>
  </div>

</div>
